<h3>Collection of fav movies</h3>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-block">
        <div class="row">
          <div class="col-sm-6 mb-3">
            <button (click)="create()" class="btn btn-primary pull-right">New</button>
          </div>
          <div class="col-sm-3 offset-sm-3 mb-3">
            <input class="form-control" type="text" placeholder="Search" (keyup)="search($event)">
          </div>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Title</th>
              <th>Genre</th>
              <th>Digital</th>
              <th>Blu-Ray</th>
              <th>DVD</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let movie of movies">
              <td>{{ movie.name }}</td>
              <td>{{ movie.genre }}</td>
              <td>
                <input class="form-check-input" type="checkbox" [checked]="movie.formats.digital || false">
              </td>
              <td>
                <input class="form-check-input" type="checkbox" [checked]="movie.formats.bluray || false">
              </td>
              <td>
                <input class="form-check-input" type="checkbox" [checked]="movie.formats.dvd || false">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
